<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= tag :link, rel: "stylesheet", href: asset("style.css") %>
	<title><%= @title %></title>
</head>
