<header>
	<h1><a href="/" rel="home feed" type="text/html"><%= home(@posts).props["name"] %></a></h1>
	<nav>
		<%= for feed_url <- feed_urls_filter(@feed_urls, posts: @posts, show_prop: "show-in-nav", order_prop: "order-in-nav") do %>
			<%= content_tag :a, href: feed_url, rel: "feed", type: "text/html", class: (if feed_url == @cur_url, do: "current", else: "") do %>
				<%= as_one @posts[feed_url].props["name"] %>
			<% end %>
		<% end %>
	</nav>
</header>
