<!DOCTYPE html>
<html lang="en">
	<%= head title: "#{post_title(@feed)} / #{home(@posts).props["name"]}", cur_url: @feed.url %>
	<body class="h-feed">
		<%= header posts: @posts, cur_url: @feed.url, feed_urls: @feed_urls %>
		<main>
			<%= for entry <- @feed.children do %>
				<article>
					<%= entry posts: @posts, cur_url: @feed.url, entry: entry, feed_urls: @feed_urls, expand_comments: false %>
				</article>
			<% end %>
			<nav class="feed-nav">
				<%= if @cur_page > 0 do %>
					<%= content_tag :a, href: Post.DynamicUrls.page_url(@feed.url, @cur_page - 1), rel: "prev" do %>
						← newer entries
					<% end %>
				<% end %>
				<%= if @cur_page < @page_count - 1 do %>
					<%= content_tag :a, href: Post.DynamicUrls.page_url(@feed.url, @cur_page + 1), rel: "next" do %>
						earlier entries →
					<% end %>
				<% end %>
			</nav>
		</main>
		<%= footer logged_in: @logged_in %>
	</body>
</html>
