<!DOCTYPE html>
<html lang="en">
	<%= head title: "Log In", cur_url: "/__auth__/login", csp_nonce: @csp_nonce %>
	<body>
		<h1 id="site-h1">the sweetroll2 security theater</h1>
		<main>

			<form method="POST" action="" class="block-thingy big-form">
				<%= tag :input, hidden: true, type: "hidden", name: "redirect_uri", value: @redir %>
				<input name="pwd" type="password" placeholder="Closely guarded secret" /><br>
				<button type="submit">Launch Rocket 69</button>

				<%= if @err do %>
					<div class="login-error">
						<%= @err %>
					</div>
				<% end %>
			</form>

		</main>
	</body>
</html>
