<!DOCTYPE html>
<html lang="en">
	<%= head title: "#{post_title(@entry)} / #{home(@posts).props["site-name"]}", cur_url: @entry.url, csp_nonce: @csp_nonce %>
	<body class="h-entry">
		<%= header posts: @posts, cur_url: @entry.url, feed_urls: @feed_urls %>
		<main>
			<article>
				<%= entry posts: @posts, cur_url: @entry.url, logged_in: @logged_in, entry: @entry, local_urls: @local_urls, feeds_with_tags: @feeds_with_tags, expand_comments: true %>
			</article>
		</main>
		<%= footer logged_in: @logged_in, csp_nonce: @csp_nonce %>
		<%= content_tag :data, class: "u-author", value: Sweetroll2.canonical_home_url() do %><% end %>
	</body>
</html>
