<!DOCTYPE html>
<html lang="en">
	<%= head title: "#{post_title(@feed)} / #{home(@posts).props["name"]}", cur_url: @feed.url %>
	<body class="h-feed">
		<%= header posts: @posts, cur_url: @feed.url, feed_urls: @feed_urls %>

		<main>
			<%= for entry <- @feed.children do %>
				<article class="h-entry">
					<%= entry posts: @posts, cur_url: @feed.url, logged_in: @logged_in, entry: entry, feeds_with_tags: @feeds_with_tags, local_urls: @local_urls, expand_comments: false %>
				</article>
			<% end %>

			<nav class="feed-nav">
				<%= if @feed.props["x-cur-page"] > 0 do %>
					<%= content_tag :a, href: Post.Generative.Pagination.page_url(@feed.props["x-feed-base-url"], @feed.props["x-cur-page"] - 1), rel: "prev" do %>
						← newer entries
					<% end %>
				<% end %>

				<%= if @feed.props["x-cur-page"] < @feed.props["x-page-count"] - 1 do %>
					<%= content_tag :a, href: Post.Generative.Pagination.page_url(@feed.props["x-feed-base-url"], @feed.props["x-cur-page"] + 1), rel: "next" do %>
						earlier entries →
					<% end %>
				<% end %>
			</nav>
		</main>

		<%= footer logged_in: @logged_in %>
		<%= content_tag :data, class: "u-author", value: Sweetroll2.canonical_home_url() do %><% end %>
	</body>
</html>
