<!DOCTYPE html>
<html lang="en">
	<%= head title: "#{post_title(@entry)} / #{home(@posts).props["name"]}", cur_url: @entry.url %>
	<body class="h-entry">
		<%= header posts: @posts, cur_url: @entry.url, feed_urls: @feed_urls %>
		<main>
			<article>
				<%= entry posts: @posts, cur_url: @entry.url, logged_in: @logged_in, entry: @entry, feed_urls: @feed_urls, expand_comments: true %>
			</article>
		</main>
		<%= footer logged_in: @logged_in %>
		<%= content_tag :data, class: "u-author", value: Sweetroll2.canonical_home_url() do %><% end %>
	</body>
</html>
